h2{
    text-align: center;
}
    body {
    font-family: Arial, sans-serif;
}

.quiz-container, .result-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options {
    margin-top: 10px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.timer {
    margin-top: 10px;
}

.result-container {
    display: none;
}
