body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6a1b9a;
}

ul {
    list-style-type: decimal;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
	font-size:16px;
	color:black;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.sort-options {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
}
