body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: aqua;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.sort-options {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}