*{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #000;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}


.main-background{
    height: 846px;
    width:1492px;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #fff; */
}
.main-conatainer-head{
    font-size: 36px;
    text-decoration: underline;
    font-weight: 500;
}
.gallery-holder{
    height:700px;
    width:1300px;
    border-radius: 12px;
    text-align: center;
    /* border: 1px solid #fff; */
    overflow-x:scroll ;
}
.a{
    max-height:650px;
    max-width:1100px;
    margin:0px;
}
.image-one{
    height:650px;
    width:1000px;
    margin: 50px 0px;
    border-radius: 12px;
}
.span{
    position: relative;
    display: flex;
    flex-direction: column;
    left:-200px;
    top:500px;
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 22px;
    transform: rotate(90deg);
}