body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #9e1616;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

.thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.lightbox:target {
    display: flex;
}

.lightbox-content {
    display: block;
    margin: auto;
    max-width: 450;
    max-height: 450px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .thumbnail {
        width: 150px;
        height: 150px;
    }

    .close {
        font-size: 30px;
        top: 10px;
        right: 20px;
    }
}
