@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#hero .hero-content h1 {
    font-size: 3em;
    margin: 0;
}

#hero .hero-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#features .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#features .feature {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background: #f46b45;
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    background: linear-gradient(to right, #eea849, #f46b45);
}

#testimonials .testimonial-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#testimonials .testimonial {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#contact form label {
    font-weight: bold;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    border: 2px solid;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px;
}

#contact form button {
    padding: 10px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#contact .social-media {
    margin-top: 20px;
}

#contact .social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #2575fc;
    font-weight: bold;
}