*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;  
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: black;
    min-height: 100vh;
}

.heading{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #5555;
}

.cells{
    display: flex;
}

.cell{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
}

.cell img{
    width: 90%;
}

.cell.one{
    border-top: none;
    border-left: none;
}

.cell.two{
    border-top: none;   
}

.cell.three{
    border-top: none;
    border-right: none;
}

.cell.four{
    border-left: none;
}

.cell.six{
    border-right: none;
}

.cell.seven{
    border-left: none;
    border-bottom: none;
}

.cell.eight{
    border-bottom: none;
}

.cell.nine{
    border-bottom: none;
    border-right: none;
}

.score{
    margin-top: 20px;
    text-align: center;
}

.score-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.resetBtn{
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    color: #fff;
    transition: all 0.3s ease;
}

.resetBtn:hover{
    background-color: #333;
}

.toast{
    text-transform: uppercase;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50);
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;

}

.toast.show{
    opacity: 1;
    top: 50px;
}