*{
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #000;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}
.main-background{
    min-height:3530px;
    width:1492px;
    background-color: #fffbfb;
    box-sizing: border-box;
}
header{
    height:70px;
    width:100%;
    border-radius: 4px;
    box-sizing: border-box;
    padding:12px 30px;
    background-color: #e8e9e7;
    /* backdrop-filter: blur(40px); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 2;
    /* border: 1px solid; */
}
.header-logo{
    height:46px;
    width:46px;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
}   
nav{
    height:46px;
    width:600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid; */
}
.nav-items{
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    height:36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    border: 1px solid;
    transition: all 0.2s ease-out;
}
.nav-items:hover{
    color: #fff;
    background-color: #363434;
}
hr{
    position: sticky;
    top:80px;
    z-index: 2;
}


.hero-section{
    position: absolute;
    top:70px;
    height:870px;
    width:1492px;
    box-sizing: border-box;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-section-title{
    font-size: 52px;
    position: relative;
    top:40px;
    left:180px;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:12px;
    text-decoration: underline;
}
.hero-section-description{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:4px;
    position: relative;
    top:40px;
    left:300px;
    font-size: 20px;
    font-weight: bold;
}

.feature-section{
    position: absolute;
    top:950px;
    height:850px;
    width:1490px;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding: 0px 50px
}
.feature-section-head{
    font-size: 42px;
    margin:0px;
    text-decoration: underline;
}
.feature-section-desc{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.feature-section-item{
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    height:36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    border: 1px solid;
    border-radius: 12px;
    transition: all 0.2s ease-out;
}
.feature-section-item:hover{
    color: #fff;
    background-color: #363434;
}


.testimonial-section{
    position: absolute;
    top:1810px;
    height:850px;
    width:1490px;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    /* border: 1px solid; */
}
.testimonial-section-head{
    font-size: 42px;
    margin:70px 0px 12px 0px;
    text-decoration: underline;
}
.testimonial-container{
    height:700px;
    width:800px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 22px;
    border:1.5px solid
}
.testimonial-desc{
    font-size: 18px;
    line-height:26px;
    font-style: italic;
    color: #000;
}
.testimonial-name{
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
    font-weight: 600;
}


.contact-section{
    position: absolute;
    top:2680px;
    height:850px;
    width:1490px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
}
.contact-section-head{
    font-size: 36px;
    margin: 0;
    text-decoration: underline;   
}
.contact-section-desc{
    position: relative;
    left:140px;
    font-size: 18px;
    line-height:26px;
    font-style: italic;
    font-weight: 600;
    margin: 0;
}
.conatct-conatiner{
    margin-top: 12px;
    height:600px;
    width:450px;
    border-radius: 12px;
    border: 1px solid;
    box-sizing: border-box;
    padding:40px 20px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.contact-section-label{
    font-size: 20px;
    line-height:26px;
    font-weight: 600;
    font-style:italic;
}
.contact-section-input{
    height:30px;
    width:100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    background-color: transparent;
    color: #000;
    text-align: center;
    outline: none;
    font-weight: bolder;
}
.contact-section-textarea{
    height:100px;
    background-color: transparent;
    color: #000;
    text-align: center;
    outline: none;
    font-weight: bolder;
    border:2px solid;
    margin-top:12px;
    border-radius: 12px;
}
.contact-section-submit{
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    height:36px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    border: 1px solid;
    transition: all 0.2s ease-out;
    margin: 20px auto;
    border-radius: 12px;
    cursor: pointer;
}
.contact-section-submit:hover{
    color: #fff;
    background-color: #363434;
}
.contact-section-href{
    margin-top: 50px;
    height:60px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.contact-section-eachhref-one{
    min-height:50px;
    min-width:50px;
    border-radius: 25px;
    margin: 0px 20px;
    background-image: url('./images/github.png');
    background-size: cover;
    border:1px solid;
    background-repeat: no-repeat;
    cursor: pointer;
}
.contact-section-eachhref-two{
    height:50px;
    width:50px;
    border-radius: 25px;
    margin: 0px 20px;
    background-image: url('./images/instagram.jpg');
    background-size: cover;
    border:1px solid;
    background-repeat: no-repeat;
    cursor: pointer;
}
.contact-section-eachhref-three{
    height:50px;
    width:50px;
    border-radius: 25px;
    margin: 0px 20px;
    background-image: url('./images/linkedIn.png');
    background-size: cover;
    border:1px solid;
    background-repeat: no-repeat;
    cursor: pointer;
}