

@font-face {
    font-family: "digital-clock";
    src: url(displayFont/digital-7.ttf);
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to left, rgb(73, 73, 223), rgb(208, 75, 75));

}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 12, 12);
    max-width: 500px;
    border-radius: 25px;
    overflow: hidden;


}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
    padding: 30px ;

}

#display{
    width: 85%;
    padding: 20px;
    font-size:5rem;
    text-align: right;
    font-family: 'digital-clock';
    color: rgb(12, 11, 11);
    border: none;
    justify-self: center;
    background-color: rgba(55, 212, 73, 0.804);
    margin: 20px;
    border-radius: 10px;
}
#display::placeholder{
    color: rgb(12, 11, 11);
   
}

button{
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    color: aliceblue;
    background-color: rgb(97, 92, 92);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer ;
    transition: all  linear;

}

button:hover{
    background-color: rgb(126, 121, 121);
}
button:active{
    background-color: rgb(175, 169, 169);
}

.operator{
    background-color: rgb(209, 140, 12);
}

.operator:hover{
    background-color: rgb(236, 158, 14);

}

.operator:active{
    background-color: rgb(252, 176, 35);

}