body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
img {
    width: 200px; /* Adjust the width of the image as needed */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: translate(5px, 5px); /* Adjust the amount of movement as needed */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.project {
    margin-bottom: 40px;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
