body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.quiz-container {
    display:none;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.choice-btn {
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice-btn:hover {
    background-color: #ddd;
}

.feedback {
    font-size: 18px;
    margin-bottom: 20px;
}

.timer {
    font-size: 20px;
    margin-bottom: 20px;
}

.next-btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-btn:hover {
    background-color: #0056b3;
}
