* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background: #340b0b;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.project {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h2 {
    margin-top: 0;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.links {
    margin-top: 1rem;
}

.links a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 1rem;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
